:root{
    --color-fondo:#C1E2FF;
    --color-texto: #120E5C;
    --radio-platillo: 12px;
}

body{
    background-color:var(--color-fondo);
    font-family: 'Courier';
    margin: 0%;
    padding: 2rem;
    color: var(--color-texto);
}

header{
    color:var(--color-texto);
    font-size: 2rem;
}
.menu-navegacion{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1.2rem;
color: var(--color-texto);
}

.mensaje-bienvenida{
    font-size: 1.2rem;
    font-weight: bold;
}


.destinos-insignia{
    background-color:#F0F8FF ;
    font-size: 1.2rem;

}

.informacion-general{
    font-size: 1.2rem;
    background-color: #92CCFF;
}

.biodiversidad{
    background-color: #F0F8FF;
    font-size: 1.2rem;
}
footer{
    background-color:#92CCFF;
    font-weight: bold;
}